@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --FF: 'Manrope', sans-serif;
    --FS: 13px;
    --VERYDARKGRAYISHBLUECOLOR: hsl(217, 19%, 35%);
    --DESATURATEDBLUECOLOR: hsl(214, 17%, 51%);
    --GRAYISHBLUE: hsl(212, 23%, 69%);
    --LIGHTGRAYISHBLUE: hsl(210, 46%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--FF);
    font-size: var(--FS);
    background-color: var(--LIGHTGRAYISHBLUE);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.main__container {
    max-width: 335px;
    background-color: white;
    /* outline: 1px solid black; */
    margin: auto;
    border-radius: 10px;

}

.img__container {
    width: 100%;
    height: 200px;
}

.img__drawer {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.text__container {
    /* margin-bottom: 10px; */
}

.text__heading, .text__paragraph {
    margin-inline: 30px;
    line-height: 1.5rem;
}

.text__heading {
    color: var(--VERYDARKGRAYISHBLUECOLOR);
    font-size: 1.35em;
    font-weight: 700;
    margin-top: 30px;
}

.text__paragraph {
    color: var(--DESATURATEDBLUECOLOR);
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 30px;
}

.shareprofile__container {
    
    padding: 0px 30px 30px 30px;
    position: relative;
    width: 100%;
    min-height: 80px;
}

.shareprofile__container--bg {
    background-color: var(--VERYDARKGRAYISHBLUECOLOR);
}

.share__icon--btn {
    all: unset;
    background-color: var(--LIGHTGRAYISHBLUE);
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

.share__icon--btn--active {
    background-color: green;
}


.profile__container, .share__container  {
    top: 20px;
    left: 10px;
    width: 70%;
    height: 50%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile__container--close {
    visibility: hidden;
}

.share__container {
    visibility: hidden;
}

.share__container--active {
    visibility: visible;
}

.profile__img {
    width: 50px;
    border-radius: 50%;
}

.profile__name {
    color: var(--VERYDARKGRAYISHBLUECOLOR);
}

.profile__date {
    display: block;
    color: var(--GRAYISHBLUE);
    font-weight: lighter;
}

.share__text {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: lighter;
    color: var(--GRAYISHBLUE);
}

@media (min-width: 40em) {

    .main__container {
        min-width: 600px;
        max-width: 800px;
        display: flex;
    }

    .img__container {
        max-width: 300px;
        min-height: 300px;
    }

    .img__drawer {
        border-radius: 10px 0 0 10px;
    }

    .text__heading {
        font-size: 1.7em;
    }

    .shareprofile__container {
        padding: 0px;
        position: relative;
        width: 85%;
        min-height: 40px;
        margin-inline: 30px;
    }

    .profile__container {
        top: 0;
        left: 0;
        justify-content: start;
    }

    .profile__img {
        margin-right: 20px;
    }

    .share__icon--btn {
        top: 0;
        right: 0px;
    }
    
    .share__container {
        max-width: 250px;
        padding-block: 30px;
        padding-inline: 20px;
        background-color: var(--VERYDARKGRAYISHBLUECOLOR);
        top: -100px;
        left: 280px;
        border-radius: 10px;
        gap: 15px;
    }

    .share__container::before {
        position: absolute;
        content: "";
        width: 0px;
        height: 0px;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 50px solid var(--VERYDARKGRAYISHBLUECOLOR);
        top: 25px;
    }

    .share__container > * {
        z-index: 1;
    }

    .shareprofile__container--bg {
        background-color: transparent;
    }

    .profile__container--close {
            visibility: visible;
    }

    

}