@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --FF: 'Manrope', sans-serif;
    --FS: 13px;
    --VERYDARKGRAYISHBLUECOLOR: hsl(217, 19%, 35%);
    --DESATURATEDBLUECOLOR: hsl(214, 17%, 51%);
    --GRAYISHBLUE: hsl(212, 23%, 69%);
    --LIGHTGRAYISHBLUE: hsl(210, 46%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}